# Optional local fallback values (if you don't use Windows system environment variables)
URL_DATASOURCE=jdbc:mysql://proyectogrado-stcstcstc911-4022.i.aivencloud.com:24466/proyecto
USERNAME_AIVEN=avnadmin
CONTRASENA_AIVEN=YOUR_AIVEN_PASSWORD
